.edit-shape-guests-wrap{background-color:white;}
.guest-list-assigned ul{background-color:white;}
.guest-list-assigned-table .q1 em{margin:-5% 0 0 10%;-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";}
.guest-list-assigned-table .q2 em{margin:15% 0 0 -6%;text-align:right;-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.7948965149187836e-9, M12=-1, M21=1, M22=1.7948965149187836e-9, SizingMethod='auto expand')";}
.guest-list-assigned-table .q3 em{margin:-6% 0 0 -45%;}
.guest-list-assigned-table .q4 em{margin:-42% 0 0 -6%;text-align:right;-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=-5.384689322711746e-9, M12=1, M21=-1, M22=-5.384689322711746e-9, SizingMethod='auto expand')";}
