.clearTransform{-webkit-transform:none !important;-moz-transform:none !important;-ms-transform:none !important;-o-transform:none !important;transform:none !important;-webkit-transform-origin-x:0 !important;-webkit-transform-origin-y:0 !important;}
body,input{font:14px/1.4 Arial;}
#app{position:relative;width:950px;height:650px;}
canvas{max-width:100%;max-height:100%;display:block;margin:0 auto;}
.layer>.canvasContainer>canvas{max-width:none;max-height:none;}
.appWindow{width:950px;height:650px;position:relative;overflow:auto;border:1px solid #ddd;overflow:scroll;}
.layer{width:100%;height:100%;}
.shape-list{position:absolute;z-index:200;width:100%;height:100%;list-style:none;margin:0;padding:0;}
.shape-list .shape{display:block;float:left;}
.guests-seated{float:left;}.guests-seated p{margin:.5em;}
.toolbar{height:50px;}.toolbar ul{float:left;margin:0;padding:0;}
.toolbar ul li{display:inline-block;list-style:none;margin:.5em;}
.roomDims{float:right;margin:.2em 1em;}
.dims{list-style:none;margin:0;padding:0;}.dims>li{display:inline-block;margin:0;padding:0;}
.dims>li:first-child:after{content:' × ';color:#c7c7c7;}
.dims input{color:#292929;width:3em;display:inline;background:transparent;border:0;outline:0;text-align:right;}
.dims input:focus,.dims input:hover{background:#fffed4;color:#cc0000;}
.shape{position:relative;display:block;float:left;}
.title{position:absolute;top:50%;left:28%;width:44%;right:auto;margin:-1em auto 0 auto;padding:0;z-index:10;font:14px/1.4 Arial;}.title.editable .edit{display:block !important;}
.title .label,.title .edit{padding:.2em .4em;display:block;margin:0;border:0;outline:0;width:70%;height:1.5em;line-height:1.5em;overflow:hidden;white-space:nowrap;}
.title .edit{position:absolute;top:0;left:-1px;display:none;z-index:15;}.title .edit:focus{background:#fffed4;color:#cc0000;}
.menu{position:absolute;top:0;left:0;right:0;font-size:12px;}.menu .menu-toggle{cursor:default;color:#A8A8A8;position:absolute;margin:0;right:0;top:.2em;width:1em;text-align:center;}
.menu .menu-toggle:hover{color:#00f;}
.menu ul{display:none;z-index:20;top:2em;left:0;position:absolute;margin:0;padding:0;width:100%;background:rgba(255, 255, 255, 0.8);border:1px solid #ebebeb;}.menu ul li{margin:0;padding:0 .4em 0 .4em;color:#DEDEDE;display:block;}
.menu ul a{text-decoration:none;}
.table-menu{position:absolute;top:50%;left:28%;width:44%;right:auto;margin:-1em auto 0 auto;padding:0;z-index:10;}
.menu-inline{float:right;text-align:left;}.menu-inline a{display:block;float:right;clear:right;width:10px;height:10px;text-indent:-9999em;border:1px solid #ebebeb;margin:3px 3px 0 0;font-size:0;line-height:0;text-align:left;}
.remove-guest{background:#949494;}
.move-guest{background:#ffffff;}
.shape-icon-menu{position:absolute;top:50%;right:28%;margin:-1em auto 0 auto;z-index:12;}.shape-icon-menu ul{margin:0;padding:0;}
.shape-icon-menu li{float:right;width:12px;height:12px;margin:0 0 0 2px;}
.shape-icon-menu li a{display:block;width:12px;height:12px;text-indent:-9999em;background:#f00;}
.dimensions{position:absolute;top:50%;left:28%;right:auto;width:44%;margin:.5em auto 0 auto;padding:0;z-index:8;color:#949494;}.dimensions .open-dims{padding:.2em .4em;color:#949494;text-decoration:none;display:block;}
.dimensions .dims{background:rgba(255, 255, 255, 0.8);border:1px solid #ebebeb;overflow:hidden;padding:.2em .4em;}
.dimensions ol,.dimensions ul{list-style:none;margin:0;padding:0;}
.dimensions li{display:inline-block;margin:0;padding:0;}
.dimensions ol>li:first-child:after{content:' × ';color:#c7c7c7;}
.dimensions ul li:first-child{margin-right:1em;}
.dimensions input{color:#292929;width:30px;background:transparent;border:0;outline:0;}
.dimensions input:focus,.dimensions input:hover{background:#fffed4;color:#cc0000;}
.edit-shape{overflow:hidden;margin:0;}.edit-shape .seatInputs{margin:0;padding:0;position:absolute;left:98px;top:88px;width:456px;height:456px;}.edit-shape .seatInputs li{list-style:none;margin:0;position:absolute;}
.edit-shape .seatInputs li:nth-child(1){top:-37.5px;left:210.5px;}
.edit-shape .seatInputs li:nth-child(2){top:215.5px;left:456px;}
.edit-shape .seatInputs li:nth-child(3){top:468.5px;left:210.5px;}
.edit-shape .seatInputs li:nth-child(4){top:215.5px;left:-52.5px;}
.edit-shape .seatInputs input{width:29px;height:19px;margin:0;padding:2px;border:1px solid #c7c7c7;}
.edit-shape .shape-edit{position:absolute;top:88px !important;left:98px !important;}.edit-shape .shape-edit .title{left:33%;width:33%;}
.edit-shape .shape-edit>.menu{left:33%;width:33%;}
.edit-shape-guests{position:absolute;}.edit-shape-guests.active{display:block;width:920px;height:620px;padding:15px;border:1px solid #dbdbdb;background:#fff;z-index:5000000;}
.edit-shape-guests.inactive{display:none;}
.edit-shape-guests>.guest-list,.edit-shape-guests>.shape-list-move-guest{position:absolute;margin:0;top:4em;right:1em;bottom:1em;width:13em;z-index:6;overflow:auto;}
.edit-shape-guests>.shape-list-move-guest{z-index:7;height:auto;}
.saveExit{border-bottom:1px solid #dbdbdb;margin:0 0 .5em 0;padding:0 0 .5em 0;}.saveExit h1{margin:0;font-size:16px;}
.saveExit ul{position:absolute;top:1em;right:1em;margin:0;padding:0;}
.saveExit li{display:inline-block;margin:0 2em 0 0;padding:0;}
span.i{display:inline-block;width:18px;height:24px;background-repeat:no-repeat;background-position:0 50%;}
span.i11{background-image:url('../img/icons/11s.png');}
span.i12{background-image:url('../img/icons/12s.png');}
span.i21{background-image:url('../img/icons/21s.png');}
span.i22{background-image:url('../img/icons/21s.png');}
.guest-list{padding:10px;margin:1em 0 0 1em;width:13em;background:rgba(255, 255, 255, 0.9);border:1px solid #ebebeb;}.guest-list.active{display:block;}
.guest-list.inactive{display:none;}
.guest-list li{list-style:none;position:relative;margin:0;padding:0;}
.guest-list li em{font-style:normal;}
.guest-list .menu ul{top:1.5em;background:rgba(255, 255, 255, 0.9);}
.guest-list li.ui-draggable{cursor:move;}
.guest-list-assigned{position:absolute;top:0;left:0;padding:0;margin:0;border:0;background:none;font-size:12px;width:10em;}.guest-list-assigned>li{padding:0;margin:0 0 0 -50%;line-height:1.2;position:absolute;width:10em;text-align:center;}.guest-list-assigned>li em{display:block;width:100%;float:left;margin:-20px 0 0 0;padding:40px .2em .2em .2em;position:relative;top:0;}
.guest-list-assigned>li .menu{text-align:left;float:right;margin:15px 0 0 0;}.guest-list-assigned>li .menu .menu-toggle{float:left;}
.guest-list-assigned>li .menu ul{border:0;text-align:right;}
.guest-list-assigned>li.ui-draggable{cursor:move;}
.guest-list-assigned-table{position:absolute !important;left:60%;bottom:60%;width:10em;font-size:12px;height:auto;margin:0;padding:0;background:none;border:0;}.guest-list-assigned-table>li{padding:.25em .5em;background:#f0f0f0;}
.guest-list-unassigned ul{margin:0 0 .5em 0;padding:0;background:#ebf5f6;}
.guest-list-unassigned li{padding:.2em;}
.guest-list-unassigned .assigned{color:#ddd;}.guest-list-unassigned .assigned span.i{background-image:url('../img/icons/tick.png');}
.shape-list-move-guest{padding:10px 10px 2em 10px;margin:1em 0 0 1em;width:13em;background:rgba(255, 255, 255, 0.9);border:1px solid #ebebeb;}.shape-list-move-guest.active{display:block;}
.shape-list-move-guest.inactive{display:none;}
.shape-list-move-guest ul{margin:0;padding:0;}
.shape-list-move-guest li{list-style:none;position:relative;margin:0;padding:0;}
.shape-list-move-guest li em{font-style:normal;}
.shape-list-move-guest .move-cancel{position:absolute;right:1em;bottom:1em;}
li.ui-draggable{list-style:none;}li.ui-draggable em{font-style:normal;}
li.q2,li.q4{max-width:5em;}li.q2 em,li.q4 em{margin-left:2.25em;}
li.q2 .menu,li.q4 .menu{margin-right:-2.8em;}
body>li.ui-draggable-dragging{z-index:5000001 !important;text-align:left;margin:0;max-width:none;width:auto;position:absolute;display:block;font-size:12px;}body>li.ui-draggable-dragging em{margin-left:0;}
body>li.ui-draggable-dragging .menu{display:none;}
#app{float:left ;}
.guest-list-debug{float:right;width:250px;margin:0;}.guest-list-debug span{color:#c7c7c7;}
.table-list-debug{padding:10px;margin:1em 0 0 1em;width:13em;background:rgba(255, 255, 255, 0.9);border:1px solid #ebebeb;float:right;clear:right;width:250px;margin:0;color:#c7c7c7;}.table-list-debug.active{display:block;}
.table-list-debug.inactive{display:none;}
.table-list-debug li{list-style:none;position:relative;margin:0;padding:0;}
.table-list-debug li em{font-style:normal;}
.table-list-debug .menu ul{top:1.5em;background:rgba(255, 255, 255, 0.9);}
.table-list-debug li.ui-draggable{cursor:move;}
.table-list-debug em{color:#616161;display:block;}
.edit-table-debug{padding:10px;margin:1em 0 0 1em;width:13em;background:rgba(255, 255, 255, 0.9);border:1px solid #ebebeb;float:right;width:250px;margin:0;color:#c7c7c7;}.edit-table-debug.active{display:block;}
.edit-table-debug.inactive{display:none;}
.edit-table-debug li{list-style:none;position:relative;margin:0;padding:0;}
.edit-table-debug li em{font-style:normal;}
.edit-table-debug .menu ul{top:1.5em;background:rgba(255, 255, 255, 0.9);}
.edit-table-debug li.ui-draggable{cursor:move;}
.edit-table-debug em{color:#616161;display:block;font-style:normal;}
