<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edit Shapes</title>
	
	<link rel="stylesheet" href="css/seating-planner.css">
	
</head>

<body>
	<div id="app"></div>
	
	
	<script src="js/utils/canvasutils.js"></script>
	<script src="js/utils/mathutils.js"></script>
	
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/jquery-1.5.1.js"></script>
	<script src="js/libs/jquery-ui-1.8.14.custom.js"></script>
	<script src="js/libs/backbone.js"></script>
	
	<script src="js/app/models/Units.js"></script>	
	<script src="js/app/models/Shape.js"></script>
	<script src="js/app/models/PhysicalShape.js"></script>
	<script src="js/app/models/Furniture.js"></script>
	<script src="js/app/models/Plan.js"></script>
	<script src="js/app/models/Seat.js"></script>
	<script src="js/app/models/SeatList.js"></script>
	<script src="js/app/models/Style.js"></script>
	

	<script src="js/app/factories/TableEditComponentsFactory.js"></script>
	
	
	<script src="js/app/views/base/BaseCanvasView.js"></script>
	<script src="js/app/views/base/BaseSubCanvasView.js"></script>	
	<script src="js/app/views/shapes/RootShapeView.js"></script>
	<script src="js/app/views/shapes/FurnitureCanvasView.js"></script>
	<script src="js/app/views/shapes/ShapeIconMenuView.js"></script>
	<script src="js/app/views/shapes/ShapeTitleView.js"></script>
	<script src="js/app/views/shapes/ShapeTypeSelectView.js"></script>
	<script src="js/app/views/shapes/FurnitureSeatSlotsView.js"></script>
	<script src="js/app/views/shapes/EditFurnitureView.js"></script>
	<script src="js/app/views/shapes/ShapeEditDimensionsView.js"></script>
	<script src="js/app/views/shapes/SeatListView.js"></script>
	<script src="js/app/views/shapes/SeatView.js"></script>
	
	
	<script src="js/app/views/guests/GuestListView.js"></script>	
	<script src="js/app/views/guests/AssignedGuestListView.js"></script>
	<script src="js/app/views/guests/UnassignedGuestListView.js"></script>
	<script src="js/app/factories/GuestWithSeatFactory.js"></script>
	
	
	
	<script type="text/template" id="shape-title-template">		
		<p class="label"><%= name %></p>	
		<input class="edit" type="text" value="<%= name %>" />			
	</script>
	
	<script type="text/template" id="shape-icon-menu-template">				
		<ul>
			<li><a href="#tables/<%= cid %>/edit/open">Edit table</a></li>	
			<li><a href="#tables/<%= cid %>/duplicate">Duplicate table</a></li>
			<li><a href="#tables/<%= cid %>/remove">Delete table</a></li>
		</ul>			
	</script>
	
	<script type="text/template" id="shape-type-select">
	<h2>Table shape</h2>		
		<select>
			<option value="-1">Pick a shape</option>
			<option value="3">Circular</option>
			<option value="4">Rectangular</option>
			<option value="5">Top Table</option>
			<option value="6">Custom Shape</option>
		</select>		
	</script>
	
	<script type="text/template" id="seat-input-template">	
		<li>
			<input class="seat-input" id="<%= id %>" type="text" value="<%= value %>" /><label for="<%= id %>"> <%= suffix %> </label>			
		</li>
	</script>
	
	<script type="text/template" id="shape-edit-dimensions-template">
		<a href="#" class="open-dims">Edit Dimensions</a>
		<p class="menu-toggle">∨</p>			
		<ol class="dims">
			<li><label for="width">W: </label><input id="width" class="edit" type="text" value="<%= width %>" /><span><%= units.attributes.abbr %></span></li>
			<li><label for="height">H: </label><input id="height" class="edit" type="text" value="<%= height %>" /><span><%= units.attributes.abbr %></span></li>
		</ol>			
	</script>
	
	<script>
	
	
	
	$(function() {
		
		FILEPATH = '';
		var units = new Units();
		
		var table = new Furniture({ name: 'Table 1', units: units, width:10, height:10 });
		var view = new EditFurnitureView({ model: table, factory: new TableEditComponentsFactory(), className: 'edit-shape' });
		$('#app').append( view.render().el ); 
	});
	
	</script>
		
</body>
</html>
